<%- include('composants/head') %> 
<body>
 <%- include('composants/entete') %>
 <h1>Accueil</h1>
 <p>Bienvenue a l'atelier Node.js</p>
 <%- include('composants/footer') %>
</body>
<script type="text/css" href="/public/css/style.css"></script>
</html>